@media {}

/*==============ФОН===============*/
html {
  background-color: #eee;
  background-image: var(--site-bg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  background-color: transparent;
  background-image: none;
}

/*================================================*/
@media only screen and (min-width: 300px) {
  .b-forums .forum .topics {
    margin-top: 0;
  }

  .b-replies {
    padding-top: 0;
  }

  .b-options-floated {
    line-height: normal;
  }

  .subheadline .count::after {
    float: none;
  }

  .b-catalog-entry-embedded>.b-catalog_entry-tooltip .b-add_to_list {
    min-width: 100px !important;
    max-width: 196px !important;
    width: auto !important;
  }

  .tipsy-inner {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background-color: #232323;
    opacity: 1;
  }

  a[title="к манге"] {
    display: none !important;
  }

  .b-video .marker,
  .b-video .name {
    color: #ffffff;
    background: black;
    font-size: 12.5px;
  }

  button.mfp-arrow,
  button.mfp-close {
    z-index: 10;
  }

  .mfp-arrow-left {
    z-index: 2222 !important;
  }

  .mfp-arrow {
    top: 0;
    margin-top: 0;
    width: 40%;
    height: 100%;
  }

  .mfp-arrow:after,
  .mfp-arrow:before,
  .b-video a.video-link:before {
    display: none;
  }

  .mfp-arrow:active {
    margin-top: 0;
  }

  .headline>a,
  .midheadline>a,
  .subheadline>a {
    overflow: visible;
  }

  /************************************************************/
  .headline,
  .midheadline,
  .subheadline {
    line-height: 1;
    padding: 10px;
    border-radius: 3px;
  }

  .b-reviews_navigation .navigation-container {
    height: 35px;
    line-height: 35px;
  }

  .b-reviews_navigation .navigation-node-all {
    border-left: 5px solid var(--headline-border-color);
    color: var(--link-color);
    padding-top: 0 !important;
    border-radius: 3px 0 0 3px;
  }

  .b-reviews_navigation .navigation-node-negative {
    border-radius: 0 3px 3px 0;
  }

  .b-reviews_navigation .navigation-node-all:hover {
    color: var(--link-hover-color);
  }

  .b-reviews_navigation .navigation-node .count {
    font-size: 15px;
    font-weight: 600;
  }

  .p-user_rates-index .l-content .order-control.active {
    text-decoration: none;
  }

  .subheadline-buttons {
    margin-top: 4px;
  }

  .p-dashboards-show .midheadline .b-link {
    line-height: normal;
    vertical-align: bottom;
  }

  .b-animes-menu #rates_statuses_stats .bar-container {
    margin-right: 100px;
  }

  .b-club .info {
    display: block;
    padding: 5px 0 0;
  }

  .b-club_page-topic {
    margin-bottom: 5px !important;
    padding-top: 10px;
  }

  .b-catalog_entry-tooltip .inner .rating .text {
    font-size: 13px;
    margin: 0 5px 10px;
  }

  .b-animes-menu .menu-topics-block .name {
    padding-right: 3px;
  }

  /*** -----  ***/
  .b-lang_trigger {
    z-index: 10;
    position: relative;
  }

  /************/
  .b-db_entry .simple_form.b-form.rate-edit {
    background: whitesmoke;
    border-radius: 3px;
    padding: 10px;
  }

  /*** ----- ***/
  .b-catalog_entry.in_list img {
    opacity: 0.5;
  }

  .b-catalog_entry.in_list img:Hover {
    opacity: 1;
  }

  .completed img,
  .on_hold img,
  .watching img,
  .planned img {
    opacity: 0.4;
  }

  .complete d img:Hover,
  .on_hold img:Hover,
  .watching img:Hover,
  .planned img:Hover {
    opacity: 1;
  }

  /*** Rounded Avatars ***/
  .b-user.avatar img,
  .b-user.named_avatar img,
  .b-user.avatar_fixed_margin img,
  .b-user16 img,
  .b-club .logo,
  .b-comment>.inner header img,
  .menu .avatar,
  div.avatar img,
  .p-profiles-edit .account .avatar-edit img,
  .b-user.detailed .info .image-name .image,
  .b-message>.inner header img,
  .b-hot_topics .topic a.with-author img,
  .b-dialog>.inner header img,
  .b-hot_topics .topic a .poster,
  .p-topics .l-menu .clubs .entry img,
  .ac_results.menu-suggest li div.name img,
  header a[href*="forum"] img[src*="user"],
  .submenu-triangle.icon-avatar img,
  .menu-dropdown.profile img,
  .b-topic>.inner header img,
  .b-review>.inner header .author-link img,
  .b-user.detailed .info .image-name .image,
  .b-user.moderation .info .image-name .image,
  .user_rates-minified .b-catalog_entry .image-decor::before {
    border-radius: 50% !important;
  }

  .b-user.detailed .info .image-name .image,
  .b-user.moderation .info .image-name .image {
    padding: 0;
  }

  /*** mfp-bg ***/
  .mfp-bg {
    opacity: 1;
  }

  /* Go To Top */
  .b-to-top.active .slide,
  .to-top-fix,
  .b-to-top,
  .b-to-top .arrow {
    display: none;
  }

  /*** Feedback ***/
  .b-feedback {
    display: none;
  }

  .b-options-floated {
    margin-top: 10px;
  }

  /*** Hot Topics ***/
  .b-hot_topics {
    background-color: transparent;
    border-bottom: 0;
    margin: 0 0 15px;
    padding: 0;
    overflow-y: hidden;
    height: 30px;
  }

  .b-hot_topics .topic {
    margin-right: 5px;
    width: auto;
    background: #e8ebef;
    padding: 7px 10px;
    border-radius: 25px;
    max-width: 15%;
  }

  .b-hot_topics .topic.subject {
    padding: 9px;
    background: tan;
  }

  .b-hot_topics .topic a .poster {
    margin-top: 0px;
    border-radius: 50%;
  }

  /*** Options Page ***/
  .b-input.boolean {
    display: table;
  }

  /*** Ads ***/
  .b-sponsors_block_3 {
    display: none !important;
  }

  /*** Back Arrow ***/
  header.head h1 a.back::after,
  header.head h2 a.back::after {
    display: none;
  }

  header.head h1 a.back::before,
  header.head h2 a.back::before {
    left: 6px;
    top: -28px;
  }

  /*** Comments Fix ****/
  .b-comment {
    margin-bottom: 10px;
    padding-top: 10px;
  }

  .b-comment:first-child {
    border-top-width: 1px !important;
    padding-top: 10px !important;
  }

  .b-comment .inner {
    min-height: 50px;
  }

  .b-comment>.inner header img {
    margin: 0 10px 0 0;
  }

  .b-comment>.inner header .name-date {
    overflow: visible;
  }

  .b-quote {
    margin: 5px 0;
  }

  .b-comment>.inner div.body,
  .b-message>.inner div.body {
    margin-left: 58px;
  }

  .b-dialog>.inner div.body {
    margin-left: 58px;
  }

  .b-dialog>.inner div.body .inner div.body {
    margin-left: 40px;
  }

  .b-replies {
    clear: none;
    padding-top: 0;
  }

  /*** Quotes ***/
  .b-quote {
    font-style: normal;
    border-radius: 3px;
  }

  /*** Content Transparent Border Fix ***/
  .l-page::before,
  .l-page::after,
  .l-footer::before,
  .l-footer::after {
    display: none !important;
  }

  /*** Main Page Fixes ***/
  .p-dashboards-show .cc-ongoings,
  .p-dashboards-show .cc-second {
    margin-bottom: 45px;
  }

  .p-dashboards .animes .others,
  .p-dashboards .mangas .others {
    margin-top: 10px;
  }

  .b-forums div.block {
    padding: 0px 5px;
  }

  .p-dashboards-show .c-my_list {
    padding: 5px 10px;
  }

  .p-dashboards-show .cc-news .c-news_topics {
    margin-right: 4%;
    width: 65.667%;
  }

  .p-dashboards-show .cc-news .c-news_topics .b-topic {
    border-top-width: 1px;
    padding-top: 10px;
  }

  .p-dashboards-show .cc-news .c-news_topics .b-topic {
    margin-bottom: 30px;
  }

  .p-dashboards-show .cc-news .c-generated_news .b-topic {
    margin-bottom: 5px;
  }

  .c-generated_news div.block {
    margin-bottom: 15px;
  }

  .headline.linkheadline>a,
  .linkheadline.midheadline>a,
  .linkheadline.subheadline>a {
    text-decoration: none;
  }

  .headline.linkheadline>a:hover,
  .linkheadline.midheadline>a:hover,
  .linkheadline.subheadline>a:hover {
    text-decoration: underline;
  }

  .subheadline-input {
    padding: 4px 0 4px 5px;
  }

  .b-topic.b-critique-topic>.inner header .name {
    margin-top: 7px;
    display: inline-block;
  }

  .bar.horizontal .line .bar-container .bar.min {
    border-radius: 2px;
    height: 20px;
  }

  .bar.horizontal .line .x_label,
  .bar.horizontal .line .bar-container .value {
    line-height: 20px;
  }

  /*** ***/
  .toastify-top {
    top: 65px !important;
  }

  /* Img & Video Curved Corners */
  .b-catalog_entry .cover .image-decor img {
    margin: -2%;
    width: 104%;
    max-width: 104%;
  }

  .image-cutter {
    width: 98%;
    height: 98%;
    display: block;
    line-height: 0;
    overflow: hidden;
    position: relative;
    border-radius: 2px;
  }

  .image-decor>.text {
    border-radius: 0 0 2px 2px;
    width: 98% !important;
  }

  .b-db_entry-variant-list_item .image img,
  .b-image img,
  .b-video .video-link,
  .b-db_entry>.c-image img,
  .p-profiles .profile-head .c-history .entry img,
  .b-badge img,
  .b-badge .no-image {
    border-radius: 2px;
  }

  /*********************************/
  /*** Buttons ***/
  input[type="submit"],
  input[type="text"],
  input[type="email"],
  input[type="number"],
  .b-offtopic_marker::before,
  .b-summary_marker::before,
  .b-new_marker::before,
  .b-abuse_marker::before,
  .b-anime_status_tag::before,
  .b-anime_status_tag,
  .b-add_to_list .trigger,
  .watch-online .b-link_button,
  .b-input select,
  .b-input textarea,
  .ProseMirror,
  .tooltip-inner,
  .cc-achievements .b-achievement,
  .b-achievement .c-image .inner a .border,
  .b-achievement .c-image .inner a img,
  .b-achievement .c-image .inner a .no-image,
  .b-spoiler_block>span,
  .b-footer_vote,
  .create-topic,
  .to-other-reviews,
  .b-comments .comments-loader,
  .b-comments .comments-hider,
  .b-comments .comments-expander,
  .opinion {
    border-radius: 3px;
  }

  .b-add_to_list.expanded .trigger {
    border-radius: 3px 3px 0 0;
  }

  .b-add_to_list .expanded-options {
    border-radius: 0 0 3px 3px;
  }

  input,
  select,
  textarea {
    border-color: #ccc !important;
  }

  .b-input select {
    font-family: Roboto, Sans-Serif;
    padding: 5px 7px;
  }

  .b-input label,
  .b-block_list li {
    display: flex !important;
    align-items: center !important;
  }

  input[type="checkbox"] {
    margin: 0 6px 0 0 !important;
    width: 18px !important;
    height: 18px !important;
    appearance: none !important;
    padding: 8px !important;
    border: 1px solid #ddd !important;
    border-radius: 3px !important;
    background-color: #fcfcfc !important;
    position: relative;
  }

  :is(li, label):hover input[type="checkbox"],
  input[type="checkbox"]:hover {
    background-color: #eee !important;
  }

  input[type="checkbox"]:checked::after,
  li.selected input[type="checkbox"]::after {
    content: '';
    display: list-item !important;
    position: absolute !important;
    z-index: 2 !important;
    color: black !important;
    line-height: 1 !important;
    list-style: image inside;
    list-style-image: url("https://raw.githubusercontent.com/Trixlight/Shiki-Enhanced/main/resources/check.svg") !important;
    list-style-position: inside !important;
    top: 0 !important;
    left: 0 !important;
  }

  /*============Content==============*/
  .l-page {
    min-height: 500px;
    position: relative;
    padding: 15px !important;
    margin: 15px auto 15px;
    border-radius: 3px;
  }

  .l-footer {
    display: none !important;
  }
}

@media only screen and (max-width: 1200px) {
  .l-page {
    min-height: 500px;
    position: relative;
    padding: 15px !important;
    margin: 0 auto;
    border-radius: 0;
  }
}

/* USER LIST COLLAPSED */
.collapsed,
.p-animes-show .other-names,
.p-mangas-show .other-names,
.p-ranobe-show .other-names {
  margin-bottom: 0;
  border-radius: 3px;
  background-color: var(--lists-odd-bg);
  border-color: var(--lists-even-bg);
}

.collapsed:hover,
.p-animes-show .other-names:hover,
.p-mangas-show .other-names:hover,
.p-ranobe-show .other-names:hover,
.collapsed+.spoiler .hide-expanded:hover {
  background-color: var(--lists-hover);
  border-color: var(--lists-even-bg);
  color: var(--text-color);
}

.collapsed+.spoiler .hide-expanded {
  border-radius: 3px;
  background: var(--lists-odd-bg);
  border-color: var(--lists-even-bg);
}